<div class="text-center pt-5 pb-4">
<h2><%= @lecture.name %> </h2>
</div>

<table class="table offset-1 col-10 offset-sm-3 col-sm-6">
    <tr>
        <th style="width:75px">説明</th><th><%= @note.description %></th> 
    </tr>
    <tr class="">
        <th>値段</th> <th><%= @note.price%>円 </th>
    </tr>
    <tr class="">
        <th>成績</th> <th><%= @note.grade %> </th>
    </tr>
    <tr class="">
        <th>年度</th><th><%= @note.year %>年度</th>
    </tr>
    <tr class="">
        <th>出品者</th>
        <th>
            <% if UserProfile.find_by(user_id: @note.exhibitor_id).present? && UserProfile.find_by(user_id: @note.exhibitor_id).name.present? %>
                <%= @exhibitor.name %>
            <% else %>
                 不明
            <% end %>
        </th>
    </tr>
</table>
<div class="p-3">
    <% if user_signed_in?%>
        <% unless current_user.id == @note.exhibitor_id %>
            <% unless @note.buyed?(current_user) %>
                <%= form_with(model: @note.my_notes.build(note_id: @note.id), local: true) do |f| %>
                    <%= hidden_field_tag :buyer_id, current_user.id %>
                    <%= hidden_field_tag :note_id, @note.id %>
                    <%= f.submit '購入', class: 'mt-4 offset-4 col-4 btn btn-info btn-block' %>
                <% end %>
            <% else %>
                <div class = "text-center pt-3"> 
                購入済み
                </div>
            <% end %>
        <% end %>   
    <% else %>
        <%= form_with(model: @note.my_notes.build(note_id: @note.id), local: true) do |f| %>
            <%= hidden_field_tag :note_id, @note.id %>
            <%= f.submit '購入', class: 'mt-4 offset-4 col-4 btn btn-info btn-block' %>
        <% end %>
    <% end %> 
</div>

<br>

<div class = "p-3 text-center mb-5">
    <% if @note.images.present? %>
        <% if user_signed_in? %>
            <% if @note.buyed?(current_user)||current_user.id == @note.exhibitor_id %>               
                <% @image.each do |i|%>
                    <div class="mb-3"><img src="<%= i.image.url %>" class="img-fluid"></div>                      
                <% end %>                
            <% else %>
                １枚目のみ表示しています<br><br>
                <img src="<%= @i[0].image.url %>" class="img-fluid">
            <% end %>
        <% else %>
            １枚目のみ表示しています<br><br>
            <img src="<%= @i[0].image.url %>" class="img-fluid">
        <% end %>
    <% end %>
</div>
