<h1 class="text-center pt-5 pr-5 pl-5 pb-3">hokudainote</h1>

<%# <a href="https://lin.ee/0R5Ofx2"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a> %>

<% unless user_signed_in? %>
<div class="p-4">
    <div class="text-center mb-5" >
    hokudainote は
    北大生限定の講義ノートを個人が販売・購入できるプラットフォームです<br>
    （決済手数料１０％）<br><br>
    <%= image_tag 'e.png',alt: 'hokudainoteとは',class: 'img-fluid' %>
    </div>
    <br>
    <div class="text-center mb-5">
        <%= image_tag 'hokudainote.png',alt: '１度出品したら一生の資産に',class: 'img-fluid'%>
        <br><br>例　大学２年時に出品した場合
    </div>
    <%# <div class="text-center pl-4 pr-4 mb-3">
        <%= link_to 'ノートを見てみる',notes_path,class: "btn btn-info "%>
    <%# </div> %>
    <div class="text-center pl-4 pr-4 mb-3">
        <%= link_to '新規登録',new_user_registration_path,class: "btn btn-info "%>
    </div>
    <div class="text-center pl-4 pr-4 mb-3">
        <%= link_to 'ログイン',new_user_session_path,class: "btn btn-info "%>
    </div>
    
    </div>
<% else %>        
    <div class="text-center">
        <div class="p-0 m-3 mt-3">
            <%= link_to 'ノートを買う', '/notes#index', class: 'btn btn-info a'  %>
        </div>
        <div class="p-0 m-3">
            <%= link_to 'ノートを売る', new_lecture_path, class: 'btn btn-info a'  %>
        </div>
        <div class="p-0 m-3">
            <%= link_to ' マイページ ', my_pages_home_path, class: 'btn btn-info'  %> 
        </div>
        <div class="p-0 mb-4 m-3">
            <%= link_to ' ログアウト ', destroy_user_session_path,method: :delete , class: 'btn btn-danger'  %>
        </div>
        
    </div>
<% end %>





