<div class="row">
<div class="col-sm-4">
    <%= form_with(model: @note, url: notes1_path,method: :post ,local: true) do |f| %>
        <div class = 'faculty'> 
        <%= f.label :faculty, "学部"%></br>
        <%= f.collection_select :faculty, Faculty.all, :id, :name,{prompt: "選択して下さい"} %>
        </div>

        <div class = 'get_departments'>
        <%= render partial: 'get_departments', locals: {faculty_id: Faculty.first.id } %>
        </div>

        <div class = 'get_educators'>
        <%= render partial: 'get_educators', locals: {department_id: Department.first.id } %>
        </div>
    
        <div class = 'get_lectures'>
        <%= render partial: 'get_lectures', locals: {educator_id: Educator.first.id } %>
        </div>
        <%= f.submit '登録して次へ', class: 'btn btn-primary btn-block' %>    
    <% end %>
</div>
</div>

    