<div class="text-center pt-4">
  <h2>口座編集</h2>
</div>

<div class="row pt-4 ml-5 mr-5">
  <div class="offset-sm-4 col-sm-4 ">

    <%= form_with(model: @account,url: {controller: 'bank_accounts', action: 'update' },method: :put,  local: true) do |f| %>
      <%= render 'layouts/error_messages', model: @account %>
      <div class="form-group">
        <%= f.label :bank_id, '銀行名' %>
        <%= f.collection_select :bank_id, Bank.all, :id, :name,{prompt: "選択して下さい"} %>
      </div>
      
      <div class="form-group">
        <%= f.label :branch, '支店番号' %>
        <%= f.number_field :branch, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :account, '口座番号' %>
        <%= f.number_field :account, class: 'form-control' %>
      </div>

      <div class = 'form-group'> 
        <%= f.label :kind, "口座種別"%></br>
        <%= f.select :kind,['普通'],{prompt: "選択して下さい"}, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :sex, '性(半角大文字)' %>
        <%= f.text_field :sex, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :name, '名(半角大文字)' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
     
      <%= f.submit '更新', class: 'btn btn-info btn-block mt-5 mb-5' %>
    <% end %>
  </div>
</div>