<div class="text-center pt-5">
  <h2>口座登録</h2>
</div>

<div class="row pt-4">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @account,url: bank_accounts_path,method: :post,  local: true) do |f| %>
      <%= render 'layouts/error_messages', model: @account %>
      <div class="form-group text-center">
        <%= f.label :bank_id, '銀行名' %><br>
        <%= f.collection_select :bank_id, Bank.all, :id, :name,{prompt: "選択して下さい"} %>
      </div>
      
      <div class="form-group text-center ml-5 mr-5">
        <%= f.label :branch, '支店番号' %>
        <%= f.number_field :branch, class: 'form-control' %>
      </div>

      <div class="form-group text-center ml-5 mr-5">
        <%= f.label :account, '口座番号' %>
        <%= f.number_field :account, class: 'form-control' %>
      </div>

      <div class = 'form-group text-center ml-5 mr-5'> 
        <%= f.label :kind, "口座種別"%></br>
        <%= f.select :kind,['普通'],{prompt: "選択して下さい"}, class: 'form-control'%>
      </div>

      <div class="form-group text-center ml-5 mr-5">
        <%= f.label :sex, '性(半角大文字)' %>
        <%= f.text_field :sex, class: 'form-control',placeholder: 'HOKUDAI' %>
      </div>
      <div class="form-group text-center ml-5 mr-5">
        <%= f.label :name, '名(半角大文字)' %>
        <%= f.text_field :name, class: 'form-control',placeholder: 'NOTE' %>
      </div>
     
      <div class="offset-sm-5 col-sm-2 ">
      <%= f.submit '登録', class: 'btn btn-info btn-block mt-5 mb-5' %>
      </div>
    <% end %>
  </div>
</div>