<div class="text-center">
  <h2>銀行口座</h2>
</div>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class = 'card card-body bg-light'>
        <div>
        <label>銀行名</label>
        <%= Bank.find(@account.bank_id).name %>
        </div>
        <div>
        <label>支店番号</label>
        <%= @account.branch %>
        </div> 
        <div>
        <label>口座番号</label>
        <%= @account.account %>
        </div>         
        <div>
        <label>口座種別</label>
        <%= @account.kind %>
        </div>  
        <div>
        <label>性</label>
        <%= @account.sex %>
        </div> 
        <div>
        <label>名</label>
        <%= @account.name %>
        </div>  

    </div>
    <div class="text-center">
        <%= link_to '編集', edit_bank_account_path%>
    </div>
  </div>
</div>