<div class="row">
    <div class="col-sm-8">
        <%= form_with(model: @images, url: images_path, method: :post ,multipart: true) do |f| %>
            <%= f.hidden_field :note_id, value: @note_id %> 
            <%= f.label "画像"%>
            <%= f.file_field :image, multiple: true,id: 'post_img' %> 
            <div class="img_prev_wrap">
                <img id="img_prev" src="" visibility='hidden' />  
            </div>
            <br><br>
            <%= f.submit '画像をアップロード', class: ' btn btn-primary btn-block'%>
            
        <% end %>
    </div>
</div>