<div class="row">
<div class="col-sm-4">
    <%= form_with(model: @images, url: images_path, method: :post,local: true ) do |f| %>
    <div class = 'images'>
        <%= f.hidden_field :note_id, value: @note_id %> 
        <%= f.label "画像"%>
        <%= f.file_field :image %>
        <%= f.submit '画像をアップロード', class: 'btn btn-primary btn-block'%>
    </div>
    <% end %>
</div>
</div>